body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
}

header {
    background: #9acd32; /* Light green background */
    padding: 10px;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 3;
    padding: 20px;
}

.sidebar {
    flex: 1;
    background: #f4f4f4;
    padding: 20px;
}

.sidebar h3 {
    color: #333;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
